.show-card {
  border: 1px solid grey;
  padding: 4px;
  margin: 4px;
  text-decoration: none;
  color: black;
}

.show-card:hover {
  background: #e5e5ec;
}

.card-img-container {
  width: 150px;
  height: 210px;
  margin: auto;
}
.card-img-container img {
  width: 150px;
}

.show-card h4 {
  margin: 0;
}

.short-details {
  display: flex;
  justify-content: space-between;
}

.short-details span {
  font-size: 12px;
}
