.img-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}

.img-container img {
  flex: 0.5, 0.5;
}

.summary {
  line-height: 1.6;
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
  border: 1px solid #cec8c8;
  text-align: center;
  line-height: 2;
  padding: 20px;
}
