.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #363a4a;
  font-weight: 500;
  margin-bottom: 12px;
  text-align: initial;
}

.header input {
  width: 20em;
  margin: 4px 6px;
}

.header h1 {
  margin: 0;
  display: initial;
}

.header a {
  text-decoration: none;
  margin-left: 2em;
  color: black;
  padding: 4px;
  border-radius: 30% 30% 0 0;
}
.header a:hover {
  color: white;
  background: black;
}

.header .nav-active {
  color: white;
  background: black;
}
