.cast-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cast-container img {
  width: 100px;
}

.cast-container a {
  text-decoration: none;
  color: black;
}

.cast-container a:hover {
  background: #e5e5ec;
}
